* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #292c73;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    font-weight: bold;
}

.navbar {
    z-index: 10;
    font-weight: bold;
    font-size: 4vh;
    height: 8vh;
    box-shadow: 0px 1px 10px#888888;
}

.navbar * {
    font-family: 'Old Standard TT', serif;
}

.navbar img {
    max-height: 7vh;
}

.map-container {
    top: 8vh;
    width: 100vw;
}

#map {
    height: 92vh;
    width: 100%;
}

.direction-img {
    height: 6vh;
    width: auto;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

#rightMenu {
    top: 8vh;
    font-size: 2vh;
    position: absolute;
    left: 80vw;
    background-color: #ffd666;
    height: 92vh;
    width: 20vw;
    overflow: auto;
    box-shadow: -1px 5px 10px#888888;
}

#transport-select {
    background-color: #ffd666;
    text-align: center;
    font-size: 2vh;
    padding-top: 20px;
}

select {
    margin: 0px;
    width: 90%;
    padding: 2px 35px 5px 5px;
    font-size: 20px;
    border: 1px solid #ccc;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/poultry-leg_1f357.png) 96% / 7% no-repeat #eee;
  }

#instruction-panel {
    background-color: #ffd666;
    padding: 5%;
    overflow: auto;
    width: 100%;
}

.adp-marker2 {
    width:100px;
    height:100px;
    background-image: "assets/dallasicon.png";
}
.adp-agencies {
    display: none;
}